@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";



.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  background: #fff;
  z-index: 2;
  .logo {
    margin-left: 20px;
  }
  .linkbar {
    margin-left: 30px;
    font-size: 16px;
    flex-grow: 2;
    a {
      margin-left: 40px;
      text-decoration: none;
      color: black;
    }
  }
  .login {
    margin-right: 40px;
    a {
      color: black;
      font-size: 16px;
      text-decoration: none;
      margin-right: 20px;
    }
    button {
      height: 42px;
      width: 180px;
      color: white;
      background: #000;
      border-radius: 50px;
      border: none;
      font-size: 16px;
    }
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 250px;
  .text-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    h1 {
      font-size: 3.5rem;
      width: 80%;
      text-align: center;
      font-family: 'Koh Santepheap', cursive;
      font-weight: 600;
      padding-bottom: 20px;
      span {
        position: relative;
        display: inline-block;
        &:before {
          content: " ";
          position: absolute;
          left: 15px;
          bottom: 5px;
          height: 6px;
          width: 100%;
          background: #FFF555;
          z-index: -1;
        }
      }
    }
    p {
      width: 55%;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-size: 19px;
      line-height: 1.6;
      margin-bottom: 40px;
    }
    .btn-lay {

      .started {
        height: 45px;
        width: 160px;
        background: #000;
        color: white;
        font-size: 16px;
        border-radius: 50px;
        border: none;
        margin-right: 15px;
        transition: all .2s ease-in-out;
        &:hover {
          background-color: yellow;
          color: black;
        }
      }
      .video {
        width: 230px;
        height: 45px;
        background: #fff;
        font-size: 16px;
        border-radius: 50px;
        border: 1px solid #000;
        margin-left: 15px;
        transition: all .2s ease-in-out;
        &:hover {
          background-color: yellow;
          color: black;
        }
      }
    }
  }
}

.cards {
  width: 100%;
  margin-bottom: 200px;
  .card-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    .card1 {
      height: 400px;
      width: 28%;
      background: #f6f6f6;
      border-radius: 5px;
      margin: 0 20px;
      .text-block {
        margin-left: 30px;
        margin-top: 40px;
        i {
          font-size: 3.5rem;
          margin-bottom: 30px;
        }
        h1 {
          font-size: 32px;
          width: 90%;
          font-weight: 600;
          font-family: 'Koh Santepheap', cursive;
          margin-bottom: 20px;
        }
        p {
          font-size: 18px;
          line-height: 1.8;
          width: 90%;
        }
      }
    }
    .card2 {
      height: 400px;
      width: 28%;
      background: #f6f6f6;
      border-radius: 5px;
      margin: 0 20px;
      .text-block {
        margin-left: 30px;
        margin-top: 40px;
        i {
          font-size: 3.5rem;
          margin-bottom: 30px;
        }
        h1 {
          font-size: 32px;
          font-weight: 600;
          font-family: 'Koh Santepheap', cursive;
          margin-bottom: 20px;
        }
        p {
          font-size: 18px;
          line-height: 1.8;
          width: 90%;
        }
      }
    }
    .card3 {
      height: 400px;
      width: 28%;
      background: #f6f6f6;
      border-radius: 5px;
      margin: 0 20px;
      .text-block {
        margin-left: 30px;
        margin-top: 40px;
        i {
          font-size: 3.5rem;
          margin-bottom: 30px;
        }
        h1 {
          font-size: 32px;
          font-weight: 600;
          font-family: 'Koh Santepheap', cursive;
          margin-bottom: 20px;
        }
        p {
          font-size: 18px;
          line-height: 1.8;
          width: 90%;
        }
      }
    }
  }
}

.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 200px 0;
  .text-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;
    h1 {
      font-size: 3.5rem;
      font-weight: 600;
      text-align: center;
      width: 70%;
      margin-bottom: 20px;
    } 
    p {
      width: 48%;
      text-align: center;
      font-weight: 300;
      font-size: 22px;
      font-family: 'Poppins', sans-serif;
    }
  }
  .logo-block {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    img {
      width: 120px;
    }
  }
}

.gif1 {
  width: 100%;
  height: 100vh;
  .left {
    float: left;
    width: 50%;
    video {
      height: 500px;
      width: 100%;
    }
  }
  .right {
    width: 50%;
    float: right;
    .text-block {
      margin-left: 60px;
      h1 {
        font-size: 3rem;
        font-weight: 600;
        width: 90%;
        font-family: 'Koh Santepheap', cursive;
        margin-bottom: 40px;
        margin-top: 20px;
      }
      h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 30px;
      }
      p {
        font-family: 'Poppins', sans-serif; 
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 30px;
        line-height: 1.4;
        letter-spacing: 1.3px;
      }
      a {
        font-size: 18px ;
        color: black;
        font-weight: 500;
        text-decoration: none;
        font-family: 'Poppins', sans-serif; 
      }
    }
  }
}

.gif2 {
  width: 100%;
  height: 100vh;
  .right {
    float: right;
    width: 50%;
    video {
      height: 500px;
      width: 100%;
    }
  }
  .left {
    float: left;
    width: 50%;
    .text-block {
      margin-left: 20px;
      h1 {
        font-size: 3rem;
        font-weight: 600;
        width: 90%;
        font-family: 'Koh Santepheap', cursive;
        margin-bottom: 40px;
        margin-top: 20px;
      }
      h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 30px;
      }
      p {
        font-family: 'Poppins', sans-serif; 
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 30px;
        line-height: 1.4;
        letter-spacing: 1.3px;
      }
      a {
        font-size: 18px ;
        color: black;
        font-weight: 500;
        text-decoration: none;
        font-family: 'Poppins', sans-serif; 
      }
    }
  }
}

.grey-zone {
  height: 70vh;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 10px;
  margin-bottom: 200px;
  .left {
    width: 50%;
    float: left;
    h1 {
        font-size: 3rem;
        font-weight: 600;
        width: 90%;
        font-family: 'Koh Santepheap', cursive;
        margin-bottom: 40px;
        margin-top: 150px;
        margin-left: 100px;
    }
    p {
        font-family: 'Poppins', sans-serif; 
        font-size: 16px;
        font-weight: 300;
        margin-left: 100px;
        margin-bottom: 30px;
        line-height: 1.4;
        letter-spacing: 1.3px;
    }
    a {
      font-size: 18px ;
      color: black;
      font-weight: 500;
      text-decoration: none;
      font-family: 'Poppins', sans-serif; 
      margin-left: 100px;
    }
  }
  .right {
    float: right;
    height: 100%;
    width: 50%;
    .block {
      height: 80%;
      width: 80%;
      margin-left: 100px;
      margin-top: 60px;
      .box1 {
        height: 100%;
        width: 100%;
        img {
          width: 100%;
        }
      }
      
    }
  }
}