@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";



.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  .logo {
    margin-left: 20px;
  }
  .linkbar {
    margin-left: 30px;
    font-size: 16px;
    flex-grow: 2;
    a {
      margin-left: 40px;
      text-decoration: none;
      color: black;
    }
  }
  .login {
    margin-right: 40px;
    a {
      color: black;
      font-size: 16px;
      text-decoration: none;
      margin-right: 20px;
    }
    button {
      height: 42px;
      width: 180px;
      color: white;
      background: #000;
      border-radius: 50px;
      border: none;
      font-size: 16px;
    }
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 250px;
  .text-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    h1 {
      font-size: 3.5rem;
      width: 80%;
      text-align: center;
      font-family: 'Koh Santepheap', cursive;
      font-weight: 600;
      padding-bottom: 20px;
      span {
        position: relative;
        display: inline-block;
        &:before {
          content: " ";
          position: absolute;
          left: 15px;
          bottom: 5px;
          height: 6px;
          width: 100%;
          background: #FFF555;
          z-index: -1;
        }
      }
    }
    p {
      width: 55%;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-size: 19px;
      line-height: 1.6;
      margin-bottom: 40px;
    }
    .btn-lay {

      .started {
        height: 45px;
        width: 160px;
        background: #000;
        color: white;
        font-size: 16px;
        border-radius: 50px;
        border: none;
        margin-right: 15px;
        transition: all .2s ease-in-out;
        &:hover {
          background-color: yellow;
          color: black;
        }
      }
      .video {
        width: 230px;
        height: 45px;
        background: #fff;
        font-size: 16px;
        border-radius: 50px;
        border: 1px solid #000;
        margin-left: 15px;
        transition: all .2s ease-in-out;
        &:hover {
          background-color: yellow;
          color: black;
        }
      }
    }
  }
}

.cards {
  width: 100%;
  .card-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    .card1 {
      height: 400px;
      width: 28%;
      background: #f6f6f6;
      border-radius: 5px;
      margin: 0 20px;
      .text-block {
        margin-left: 30px;
        margin-top: 40px;
        i {
          font-size: 3.5rem;
          margin-bottom: 30px;
        }
        h1 {
          font-size: 32px;
          width: 90%;
          font-weight: 600;
          font-family: 'Koh Santepheap', cursive;
          margin-bottom: 20px;
        }
        p {
          font-size: 18px;
          line-height: 1.8;
          width: 90%;
        }
      }
    }
    .card2 {
      height: 400px;
      width: 28%;
      background: #f6f6f6;
      border-radius: 5px;
      margin: 0 20px;
      .text-block {
        margin-left: 30px;
        margin-top: 40px;
        i {
          font-size: 3.5rem;
          margin-bottom: 30px;
        }
        h1 {
          font-size: 32px;
          font-weight: 600;
          font-family: 'Koh Santepheap', cursive;
          margin-bottom: 20px;
        }
        p {
          font-size: 18px;
          line-height: 1.8;
          width: 90%;
        }
      }
    }
    .card3 {
      height: 400px;
      width: 28%;
      background: #f6f6f6;
      border-radius: 5px;
      margin: 0 20px;
      .text-block {
        margin-left: 30px;
        margin-top: 40px;
        i {
          font-size: 3.5rem;
          margin-bottom: 30px;
        }
        h1 {
          font-size: 32px;
          font-weight: 600;
          font-family: 'Koh Santepheap', cursive;
          margin-bottom: 20px;
        }
        p {
          font-size: 18px;
          line-height: 1.8;
          width: 90%;
        }
      }
    }
  }
}